@font-face {
  font-family: 'Bodoni MT';
  src: url('../fonts/bodoni-mt-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Narrow';
  src: url('../fonts/PTSansNarrow-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
