@import "../../../../assets/styles/_mixins";

.cart{
  padding-top: 80px;
  padding-bottom: 100px;
  .container{
    .nav-back{
      padding-left: 100px;
    }
    .cart-title{
      @include block-header;
      text-align: center;
      margin-bottom: 70px;
    }
    .cart-info{
      padding: 0 100px;
      .cart-empty{
        display: flex;
        align-items: center;
        flex-direction: column;
        .cart-empty-description{
          @include block-header;
        }
        .cart-empty-actions{
          padding-top: 40px;
          .order-button{
            cursor: pointer;
            padding: 20px 136px;
            border: 1px solid #262523;
            background: #808084;
            color: white;
            font-family: Arial, sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            &:first-child{
              margin-right: 20px;
            }
          }
        }
      }
      .cart-products{
        .cart-product{
          padding: 30px 0;
          border-bottom: 1px solid #2F1509;
          display: flex;
          align-items: center;
          justify-content: space-between;
          &:first-child{
            border-top: 1px solid #2F1509;
          }

          .cart-product-image{
            width: 187px;
            height: 155px;
            background-size: cover;       /* or "contain" depending on your goal */
            background-position: center;  /* centers the image */
            background-repeat: no-repeat; /* avoids tiling */
          }
          .cart-product-info{
            display: flex;
            flex-direction: column;
            .cart-product-info-name{
             @include block-header;
              margin-bottom: 10px;
            }

            .cart-product-info-extra{
              display: flex;
              align-items: center;
              justify-content: space-between;
              .cart-product-info-extra-size, .cart-product-info-extra-color{
                display: flex;
                align-items: center;
                span{
                  color: #262523;
                  font-family: Arial, sans-serif;
                  font-size: 20px;
                  font-style: normal;
                  font-weight: 400;
                  margin-right: 10px;
                }
                .cart-product-info-extra-size-size{
                  display: flex;
                  width: 30px;
                  height: 30px;
                  padding: 1px 1px 1px 2px;
                  justify-content: center;
                  align-items: center;
                  border: 1px solid #A69F9F;
                  box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.18);

                  color: #585450;
                  text-align: center;
                  font-family: Arial, sans-serif;
                  font-size: 20px;
                  font-style: normal;
                  font-weight: 400;
                }
              }
             .cart-product-info-extra-color{
               .cart-product-info-extra-color-color{
                 color: #585450;
                 text-align: center;
                 font-family: Arial, sans-serif;
                 font-size: 20px;
                 font-style: normal;
                 font-weight: 400;
               }
             }
            }
          }
          .cart-product-price{
            color: #262523;
            font-family: "PT Sans Narrow", sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
          .cart-product-remove{
            cursor: pointer;
          }
        }
      }
      .cart-actions{
        margin-top: 50px;

        text-align: right;
        .summary{
          color: #262523;
          font-family: "PT Sans Narrow", sans-serif;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          display: flex;
          justify-content: flex-end;
          margin-bottom: 50px;
          span{
            margin-right: 80px;
          }
        }
        .order-button{
          cursor: pointer;
          padding: 20px 136px;
          border: 1px solid #262523;
          background: #808084;
          color: white;
          font-family: Arial, sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
        }
      }
    }
  }
}
