<div class="for-customer">
  <div class="container">
    <div class="nav-back" routerLink="/">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
        <path
          d="M5.47588 14.5699C5.18971 14.859 5.19247 15.3257 5.48204 15.6123L10.2009 20.2826C10.4904 20.5691 10.9572 20.5671 11.2433 20.2779C11.5295 19.9888 11.5267 19.5221 11.2372 19.2355L7.04266 15.0842L11.1879 10.8958C11.474 10.6067 11.4713 10.1399 11.1817 9.85335C10.8922 9.56677 10.4254 9.56884 10.1393 9.85798L5.47588 14.5699ZM26 15L25.9956 14.2629L5.99584 14.3517L6.0002 15.0888L6.00455 15.8259L26.0044 15.7371L26 15Z"
          fill="#A69F9F"/>
      </svg>
      <span>На главную</span>
    </div>
    <div class="for-customer-title">{{ title }}</div>
    <div class="for-customer-content">
      <nav class="menu">
        <div class="nav-title">
          покупателям
        </div>
        <div class="nav-body">
          <ul>
            <li *ngFor="let item of firstHalf">
              <a
                (click)="selectItem(item)"
                [class.active]="selectedItem.key === item.key"
              >
                {{ item.label }}
              </a>
            </li>
          </ul>

          <ul>
            <li *ngFor="let item of secondHalf">
              <a
                (click)="selectItem(item)"
                [class.active]="selectedItem.key === item.key"
              >
                {{ item.label }}
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="content" *ngIf="selectedItem.key === 'offer'">
        {{ ofertaText }}
      </div>
      <div class="content-payment content" *ngIf="selectedItem.key === 'payment'" [innerHTML]="paymentText">
      </div>
      <div class="content" *ngIf="selectedItem.key === 'return'" [innerHTML]="returnText">
      </div>
      <div class="volunteer content" *ngIf="selectedItem.key === 'volunteer'">
        <div class="volunteer-main">
          <div class="volunteer-main-description">
            <p>
              Дорогие друзья!
            </p>
            <p>
              Приглашаем вас поучаствовать в благотворительном проекте, в рамках которого волонтёры вручную вяжут тёплые домашние носки и шапки для военных в зоне СВО, для раненых и беженцев. С октября 2022 г. связано и передано 1293 пары носков, 230 шапок, игрушки-талисманы. Все это сделали волонтёры на безвозмездной основе в свободное от работы и своей личной жизни время. Нитки покупают неравнодушные люди или кто‑то передаёт свои.
            </p>
            <p>
              Носки, вопреки расхожему мнению, нужны в любой сезон, и летом тоже — в полевые госпитали, для эвакуации раненых с поля боя, в прифронтовых зонах для людей, живущих без электричества. Ночами бывает холодно.
            </p>
          </div>
          <div class="volunteer-main-picture">
            <img src="assets/images/volunteer.png" alt="">
          </div>
        </div>
        <div class="volunteer-additional">
          <p>
            ЧЕМ ПОМОЧЬ?
          </p>
          <p>
            Вы можете передать нам по договорённости или привезти (адрес):
          </p>
          <ul>
            <li>
              ненужную пряжу
            </li>
            <li>
              вручную вязаные старые вещи из натуральной шерсти
            </li>
            <li>
              подходят и синтетические нитки (для вязания более плотных пяток у носков)
            </li>
          </ul>
          <p>
            Часто у нас дома лежит пряжа от рукоделия, занимает место, а выбросить жалко. Передав ненужную пряжу или вещи, вы поддержите экологичный и очень важный для наших ребят проект.
          </p>
          <p>
            Если пряжи нет, но хотите поучаствовать, можно КУПИТЬ и ПЕРЕДАТЬ НИТКИ ДЛЯ ПРОЕКТА: (ссылка на озон, вб и пр.)
          </p>
        </div>
      </div>
      <div class="care content" *ngIf="selectedItem.key === 'care'" >
        <p>Инструкция по уходу за вязанными изделиями</p>
        <ul>
          <li>
            Стирать в тазике с тёплой водой (~40 градусов С). Необходимо развести специальное средство для стирки шерсти. Если нет нужного средства можно использовать обычный шампунь или мыло с ланолином. Хорошо пожамкать не растягивая
          </li>
          <li>
            Воду слить, ещё раз набрать той же температуры, прополоскать. Повторить 2 раза
          </li>
          <li>
            Не выкручивая и не растягивая, изделие слегка отжать
          </li>
          <li>
            Расстелить клеёнку. Разложить на полотенце сушиться. Полотенце впитает лишнюю воду. Через несколько часов полотенце убрать, разложить просто на клеёнке, стараясь придать изделию узнаваемую форму.
          </li>
          <li>
            После полного высыхания желательно слегка отпарить (не отгладить), чтобы изделие приняло первоначальную форму.
          </li>
        </ul>
        <p>Категорическое нельзя делать:</p>
        <ul>
          <li>
            Стирать в стиральных машинах
          </li>
          <li>
            Использовать средства для мытьяпосуды
          </li>
          <li>
            Сушить на батарее
          </li>
          <li>
            Сушить на вешалках, плечиках и бельевых верёвках
          </li>
        </ul>
      </div>
      <div class="contacts content" *ngIf="selectedItem.key === 'contacts'">
        <p>
          Уважаемые клиенты!
        </p>
        <p>
          Для решения любых вопросов, пожалуйста, напишите нам в WhatsApp или Telegram.
        </p>
        <p>
          Whats App +7 965 422-58-46
        </p>
        <p>
          Telegram @tsumoutletbot
        </p>
        <p>
          info@outlet.tsum.ru
        </p>
      </div>

    </div>
  </div>
</div>
